/* ****** Home page **** */
a.nav-home-link img {
    width: 45px;
}

/* ***** Voting page ***** */
#voting_form input[type=number] {
    max-width: 300px;
}
#voting_form .candidateList-wrapper {
    max-width: 600px;
}

/* ***** Poll Result ***** */
.winners {
    width: 100%;
    max-width: 450px;
}

/* ************** AJAX Processing  ************** */
.ajax-processing {
    position: relative;
}

.ajax-processing:after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 150px;
    /* background: url('../../media/ojeel/processing.gif') center center no-repeat; */
    background: url('../images/loading-4-dots.gif') center center no-repeat;
    background-size: 150px 150px;
    background-color: rgba(255, 255, 255, 0.12);
    z-index: 9999;
}

/* ************** default  ************** */
.input-error {
    font-weight: 500;
    background: #fdeeee !important;
    border-color: #f3c9c9 !important;
}
p.input-status-msg {
    font-size: 11px !important;
    line-height: 11px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

p.input-status-msg span {
    font-size: 11px !important;
    line-height: 0px !important;
    /* font-weight: bold; */
    padding: 0;
    /* border-radius: 2px; */
}

p.input-status-msg span.is-error {
    color: red;
    /* background-color: #ffe9eb; */
}

p.input-status-msg span.is-success {
    color: green;
    /* background-color: #e7f5ea; */
}


/* ************** Error Message and Alerts ************** */

.msg {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.msg-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.msg-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.msg-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.msg-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
